*,
*::before,
*::after {
          box-sizing: border-box;
}

@font-face {
  font-family: RobotoRegular;
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: RobotoBlack;
  src: url("./fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: RobotoThinItalic;
  src: url("./fonts/Roboto-ThinItalic.ttf");
}

@font-face {
  font-family: RobotoMediumItalic;
  src: url("./fonts/Roboto-MediumItalic.ttf")
}

@font-face {
  font-family: RobotoLightItalic;
  src: url("./fonts/Roboto-LightItalic.ttf");
}

@font-face {
  font-family: RobotoMedium;
  src: url("./fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: LoraRegular;
  src: url("./fonts/Lora-Regular.ttf");
}

@font-face {
  font-family: LoraItalic;
  src: url("./fonts/Lora-Italic.ttf")
}

@font-face {
  font-family: LoraMedium;
  src: url("./fonts/Lora-Medium.ttf");
}

@font-face {
  font-family: LoraMediumItalic;
  src: url("./fonts/Lora-MediumItalic.ttf");
}

body {
  font-family: LoraRegular;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: #e9dbcd;
  color: #261712;
}

input,
button,
textarea,
select,
a
 {
  font: inherit;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #b6382c;
  transition: color 300ms, background-color 300ms;
  padding: 0.3em 0.4em;
}

a:hover {
  color: #fff;
  background-color: #456A82;
  text-decoration-color: transparent !important;
}

#infoButton:hover {
  background-color: #b6382c;
  text-decoration-color: transparent !important;
}


#filePath {
  padding: 1px 3px 1px 3px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header h4 {
  font-family: LoraItalic;
  font-weight: 500;
}

.header button {
  height: 50%;
  
}

.mainBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainBody input {
  width: 50%;
}

.pButtons {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pButtons a {
  margin: 0 1em 0 1em;
}

#previewDiv {
  font-family: LoraItalic;
}

#previewDiv p:first-child {
  font-weight: bold;
  font-family: LoraMedium;
}

.pathDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pathDiv p {
  margin-right: 1em;
}

.whatToIncludeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  background-color: #b6382c;
  height: 1px;
  border: none;
}